@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Prośba o zmianę hasła została przyjęta!";
}

<h2>@ViewData["Title"]</h2>
<p>
    Link do zresetowania hasła został wysłany na podany adres email.
</p>
