@page
@model LoginModel
@{
    ViewData["Title"] = "Logowanie";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card d-flex">
                <header class="card-header">
                    <h4 class="card-title mt-2">@ViewData["Title"]</h4>
                </header>
                <div class="card-body m-8">
                    <div class="container">
                        <form method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" type="password" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                <small>Nie pamiętasz hasła? <a asp-page="./ForgotPassword">Przypomnij hasło</a></small>
                                <br />
                            </div>
                            <div class="custom-control custom-checkbox mb-4">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Zapamiętaj mnie</label>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Zaloguj się</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="border-top card-body text-center">
                Nie masz konta?
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Zarejestruj się</a>
                <br />
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
