@model UserViewModel

<div>
    <div class="points">
        <label asp-for="Points"></label>:
        @Html.DisplayFor(m => m.Points)
    </div>
</div>

<div class="col-md-9">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h4>Moje dane osobowe</h4>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form id="profile-form" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-row">
                            <div class="col form-group">
                                <label asp-for="FirstName"></label>
                                <input asp-for="FirstName" class="form-control" readonly />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="col form-group">
                                <label asp-for="LastName"></label>
                                <input asp-for="LastName" class="form-control" readonly />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="PESEL"></label>
                            <input asp-for="PESEL" class="form-control" />
                            <span asp-validation-for="PESEL" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" readonly />
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Street"></label>
                            <input asp-for="Street" class="form-control" />
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="BuildingNumber"></label>
                                <input asp-for="BuildingNumber" class="form-control" />
                                <span asp-validation-for="BuildingNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="ApartmentNumber"></label>
                                <input asp-for="ApartmentNumber" class="form-control" />
                                <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="City"></label>
                                <input asp-for="City" class="form-control" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="PostalCode"></label>
                                <input asp-for="PostalCode" class="form-control" />
                                <span asp-validation-for="PostalCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12" align="center">
                                <button type="submit" class="btn btn-primary centered">Zapisz</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>