@model WolontariuszPlus.Areas.OrganizerPanelArea.Models.EventDetailsManagement.AddMoneyViewModel

<div class="col-md-9">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    @{
                        var title = "Dodaj ilość pieniędzy zebranych przez wolontariusza";

                        if (Model.CollectedMoney > 0)
                        {
                            title = "Modyfikuj ilość pieniędzy zebranych przez wolontariusza";
                        }
                    }
                    <h4 style="text-align:center">@title</h4>
                    <hr>
                    <h6 style="text-align:center">@title <b>@Html.DisplayFor(m => m.VolunteerName)</b> na wydarzeniu <b>@Html.DisplayFor(m => m.EventName)</b></h6>
                    <hr>
                </div>
            </div>
            <form asp-action="AddMoney">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="VolunteerOnEventId" />
                <div class="form-group" style="align-content:center">
                    <label asp-for="CollectedMoney" class="control-label"></label>
                    <input type="number" asp-for="CollectedMoney" class="form-control" rows="7" />
                    <span asp-validation-for="CollectedMoney" class="text-danger"></span>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12" align="center">
                        <input type="submit" value="Zapisz" class="btn btn-outline-primary" />
                        <a class="btn btn-outline-danger" asp-action="PastEventDetails" asp-route-eventId="@Model.EventId">Powrót</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
