@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section VolunteerPanelCSS {
    <link rel="stylesheet" href="~/css/volunteer-panel/personal-data.css" />
}

<h2>Panel wolontariusza</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li><a asp-controller="OrganizerPanel" asp-action="PersonalData">Dane osobowe</a></li>
                <li><a asp-controller="OrganizerPanel" asp-action="EventsList">Lista wydarzeń</a></li>
                <li><a asp-controller="OrganizerPanel" asp-action="PastEvents">Archiwalne wydarzenia</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>